bplist00Ô_startFeatureRequestYadmAssetsYafmAssets^featureRequestO#¡{
  "starts" : [
    {
      "identifier" : "AD7A57AF",
      "triggerDate" : "2025-03-25T21:57:18Z"
    },
    {
      "identifier" : "5B08FC3E",
      "triggerDate" : "2025-03-25T22:14:28Z"
    },
    {
      "identifier" : "22DBA07C",
      "triggerDate" : "2025-03-25T23:15:30Z"
    },
    {
      "identifier" : "411EDA49",
      "triggerDate" : "2025-03-25T23:52:28Z"
    },
    {
      "identifier" : "120B66DF",
      "triggerDate" : "2025-03-26T00:16:33Z"
    },
    {
      "identifier" : "F1819FF8",
      "triggerDate" : "2025-03-26T02:16:41Z"
    },
    {
      "identifier" : "2A39CBB5",
      "triggerDate" : "2025-03-26T04:16:49Z"
    },
    {
      "identifier" : "A7556629",
      "triggerDate" : "2025-03-26T06:16:59Z"
    },
    {
      "identifier" : "BEB4B8E3",
      "triggerDate" : "2025-03-26T06:27:30Z"
    },
    {
      "identifier" : "B96F70EE",
      "triggerDate" : "2025-03-26T10:37:14Z"
    },
    {
      "identifier" : "940948B9",
      "triggerDate" : "2025-03-26T10:38:46Z"
    },
    {
      "identifier" : "D07315DC",
      "triggerDate" : "2025-03-26T10:39:47Z"
    },
    {
      "identifier" : "02F9E698",
      "triggerDate" : "2025-03-26T10:40:47Z"
    },
    {
      "identifier" : "A58A94C9",
      "triggerDate" : "2025-03-26T13:34:14Z"
    },
    {
      "identifier" : "D1181714",
      "triggerDate" : "2025-03-26T13:52:17Z"
    },
    {
      "identifier" : "DB65732A",
      "triggerDate" : "2025-03-26T16:37:24Z"
    },
    {
      "identifier" : "82DAFD07",
      "triggerDate" : "2025-03-26T16:38:25Z"
    },
    {
      "identifier" : "4205EAD4",
      "triggerDate" : "2025-03-26T16:47:06Z"
    },
    {
      "identifier" : "6DA5F985",
      "triggerDate" : "2025-03-26T19:07:53Z"
    },
    {
      "identifier" : "224DF430",
      "triggerDate" : "2025-03-26T19:15:39Z"
    },
    {
      "identifier" : "D25B8756",
      "triggerDate" : "2025-03-26T19:16:40Z"
    },
    {
      "identifier" : "7DA014B0",
      "triggerDate" : "2025-03-27T12:07:44Z"
    },
    {
      "identifier" : "F7279BF1",
      "triggerDate" : "2025-03-27T12:08:44Z"
    },
    {
      "identifier" : "F480EC06",
      "triggerDate" : "2025-03-27T12:09:45Z"
    },
    {
      "identifier" : "85B6B9A8",
      "triggerDate" : "2025-03-27T13:21:23Z"
    },
    {
      "identifier" : "6FF32A64",
      "triggerDate" : "2025-03-27T13:28:26Z"
    },
    {
      "identifier" : "9D57DC68",
      "triggerDate" : "2025-03-27T15:07:55Z"
    },
    {
      "identifier" : "B07ECF7C",
      "triggerDate" : "2025-03-27T15:08:56Z"
    },
    {
      "identifier" : "FF925F1F",
      "triggerDate" : "2025-03-27T15:20:00Z"
    },
    {
      "identifier" : "A52D8B42",
      "triggerDate" : "2025-03-27T16:54:52Z"
    },
    {
      "identifier" : "95D4321A",
      "triggerDate" : "2025-03-27T16:55:52Z"
    },
    {
      "identifier" : "7CFC81F8",
      "triggerDate" : "2025-03-27T16:56:53Z"
    },
    {
      "identifier" : "DCC0CCF8",
      "triggerDate" : "2025-03-27T18:07:49Z"
    },
    {
      "identifier" : "2AEAE3E7",
      "triggerDate" : "2025-03-27T18:08:51Z"
    },
    {
      "identifier" : "D0920DED",
      "triggerDate" : "2025-03-27T19:52:25Z"
    },
    {
      "identifier" : "E7122FCC",
      "triggerDate" : "2025-03-28T12:16:45Z"
    },
    {
      "identifier" : "5F382167",
      "triggerDate" : "2025-03-28T14:23:23Z"
    },
    {
      "identifier" : "E2B4088A",
      "triggerDate" : "2025-03-28T14:24:25Z"
    },
    {
      "identifier" : "5DA9D5F8",
      "triggerDate" : "2025-03-28T14:25:27Z"
    },
    {
      "identifier" : "44FD1E0F",
      "triggerDate" : "2025-03-28T18:16:50Z"
    },
    {
      "identifier" : "6468D9D5",
      "triggerDate" : "2025-03-28T18:17:52Z"
    },
    {
      "identifier" : "9533EEF3",
      "triggerDate" : "2025-03-29T14:48:34Z"
    },
    {
      "identifier" : "CD71E9AD",
      "triggerDate" : "2025-03-29T14:51:04Z"
    },
    {
      "identifier" : "472D1E68",
      "triggerDate" : "2025-03-29T15:10:31Z"
    },
    {
      "identifier" : "AF7F7F0F",
      "triggerDate" : "2025-03-29T15:24:46Z"
    },
    {
      "identifier" : "72424ECD",
      "triggerDate" : "2025-03-30T16:01:33Z"
    },
    {
      "identifier" : "84C1EAAF",
      "triggerDate" : "2025-03-31T17:26:50Z"
    },
    {
      "identifier" : "A119E666",
      "triggerDate" : "2025-04-04T19:08:25Z"
    },
    {
      "identifier" : "D1EE4EA7",
      "triggerDate" : "2025-04-04T19:40:05Z"
    },
    {
      "identifier" : "848B7213",
      "triggerDate" : "2025-04-04T19:41:05Z"
    },
    {
      "identifier" : "810F1633",
      "triggerDate" : "2025-04-04T20:30:28Z"
    },
    {
      "identifier" : "19DC8CA9",
      "triggerDate" : "2025-04-05T02:50:09Z"
    },
    {
      "identifier" : "49AC92E9",
      "triggerDate" : "2025-04-05T05:44:28Z"
    },
    {
      "identifier" : "AB4314C4",
      "triggerDate" : "2025-04-05T05:45:29Z"
    },
    {
      "identifier" : "5D25BB19",
      "triggerDate" : "2025-04-05T12:05:58Z"
    },
    {
      "identifier" : "5DE19DF9",
      "triggerDate" : "2025-04-05T12:07:19Z"
    },
    {
      "identifier" : "77622A04",
      "triggerDate" : "2025-04-05T12:15:29Z"
    },
    {
      "identifier" : "D1D9C87A",
      "triggerDate" : "2025-04-05T12:47:23Z"
    },
    {
      "identifier" : "5DDABA38",
      "triggerDate" : "2025-04-05T12:48:23Z"
    },
    {
      "identifier" : "B2B9DCDE",
      "triggerDate" : "2025-04-06T05:22:31Z"
    },
    {
      "identifier" : "3D022005",
      "triggerDate" : "2025-04-06T05:23:32Z"
    },
    {
      "identifier" : "F2CCC9F0",
      "triggerDate" : "2025-04-06T14:42:35Z"
    },
    {
      "identifier" : "87B68471",
      "triggerDate" : "2025-04-06T14:43:39Z"
    },
    {
      "identifier" : "35F23DB3",
      "triggerDate" : "2025-04-07T07:10:14Z"
    },
    {
      "identifier" : "9350D92F",
      "triggerDate" : "2025-04-07T14:55:34Z"
    },
    {
      "identifier" : "4688CA73",
      "triggerDate" : "2025-04-07T14:55:36Z"
    },
    {
      "identifier" : "C348F70D",
      "triggerDate" : "2025-04-07T14:55:46Z"
    },
    {
      "identifier" : "68F8790C",
      "triggerDate" : "2025-04-07T17:47:48Z"
    },
    {
      "identifier" : "E0308D5D",
      "triggerDate" : "2025-04-07T17:47:48Z"
    },
    {
      "identifier" : "45163DA5",
      "triggerDate" : "2025-04-07T17:47:48Z"
    },
    {
      "identifier" : "9F2B5A84",
      "triggerDate" : "2025-04-07T17:47:48Z"
    },
    {
      "identifier" : "03CC5A54",
      "triggerDate" : "2025-04-07T17:47:48Z"
    },
    {
      "identifier" : "0A876506",
      "triggerDate" : "2025-04-07T17:47:49Z"
    },
    {
      "identifier" : "40818E8C",
      "triggerDate" : "2025-04-07T17:47:51Z"
    },
    {
      "identifier" : "E225FD29",
      "triggerDate" : "2025-04-07T17:47:52Z"
    },
    {
      "identifier" : "0EE7DC73",
      "triggerDate" : "2025-04-07T17:47:56Z"
    },
    {
      "identifier" : "69140709",
      "triggerDate" : "2025-04-07T17:47:58Z"
    },
    {
      "identifier" : "9A1EFEA8",
      "triggerDate" : "2025-04-07T17:48:04Z"
    },
    {
      "identifier" : "16EA9748",
      "triggerDate" : "2025-04-07T17:48:06Z"
    },
    {
      "identifier" : "39FD60E8",
      "triggerDate" : "2025-04-07T17:48:07Z"
    },
    {
      "identifier" : "0F6E0F0D",
      "triggerDate" : "2025-04-07T17:48:08Z"
    },
    {
      "identifier" : "057343C7",
      "triggerDate" : "2025-04-07T17:48:14Z"
    },
    {
      "identifier" : "6CC6D55B",
      "triggerDate" : "2025-04-07T17:48:14Z"
    },
    {
      "identifier" : "3CB0BEC7",
      "triggerDate" : "2025-04-07T17:48:14Z"
    },
    {
      "identifier" : "42A3FBEC",
      "triggerDate" : "2025-04-07T17:48:14Z"
    },
    {
      "identifier" : "767FC66E",
      "triggerDate" : "2025-04-07T17:48:45Z"
    },
    {
      "identifier" : "533683EE",
      "triggerDate" : "2025-04-07T17:48:45Z"
    },
    {
      "identifier" : "397B5DC7",
      "triggerDate" : "2025-04-07T17:48:46Z"
    },
    {
      "identifier" : "1D524AD3",
      "triggerDate" : "2025-04-07T17:48:46Z"
    },
    {
      "identifier" : "68C287FE",
      "triggerDate" : "2025-04-07T17:48:46Z"
    },
    {
      "identifier" : "A48871EF",
      "triggerDate" : "2025-04-07T17:48:53Z"
    },
    {
      "identifier" : "98A81353",
      "triggerDate" : "2025-04-07T17:48:54Z"
    },
    {
      "identifier" : "6AE21ABF",
      "triggerDate" : "2025-04-07T17:49:32Z"
    },
    {
      "identifier" : "73825E45",
      "triggerDate" : "2025-04-07T20:24:20Z"
    },
    {
      "identifier" : "F5631523",
      "triggerDate" : "2025-04-07T20:24:35Z"
    },
    {
      "identifier" : "9AD678A7",
      "triggerDate" : "2025-04-07T20:24:38Z"
    },
    {
      "identifier" : "5699122E",
      "triggerDate" : "2025-04-07T20:38:52Z"
    },
    {
      "identifier" : "7795E50D",
      "triggerDate" : "2025-04-07T20:38:52Z"
    },
    {
      "identifier" : "7FBCF1E6",
      "triggerDate" : "2025-04-07T20:44:01Z"
    },
    {
      "identifier" : "E5A4EE23",
      "triggerDate" : "2025-04-07T20:44:02Z"
    }
  ]
}O{
  "date" : "2025-04-07T14:55:47Z",
  "hostProcess" : "iCloudNotificationAgent",
  "bypassEnabled" : false,
  "releaseReason" : "Prerequisite requirements (HW and\/or SW eligibility) not met.",
  "trigger" : "FeatureRequestHandler.fetchAllFeatures",
  "downloadAction" : "release"
}O{
  "downloadAction" : "release",
  "hostProcess" : "iCloudNotificationAgent",
  "trigger" : "FeatureRequestHandler.fetchAllFeatures",
  "date" : "2025-04-07T14:55:46Z",
  "bypassEnabled" : false,
  "releaseReason" : "Prerequisite requirements (HW and\/or SW eligibility) not met."
}OVu{
  "events" : [
    {
      "completionDate" : "2025-03-12T20:25:30Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : ""
        }
      },
      "identifier" : "3D901376",
      "triggerDate" : "2025-03-12T20:25:15Z",
      "features" : [
        {
          "ttl" : "2025-03-13T20:25:30Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-03-13T20:25:30Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-03-13T20:25:30Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-03-13T20:25:30Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        }
      ]
    },
    {
      "completionDate" : "2025-03-14T12:53:13Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : ""
        }
      },
      "identifier" : "7D642F68",
      "triggerDate" : "2025-03-14T12:53:13Z",
      "features" : [
        {
          "ttl" : "2025-03-15T12:53:13Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-03-15T12:53:13Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-03-15T12:53:13Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-03-15T12:53:13Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        }
      ]
    },
    {
      "completionDate" : "2025-03-15T13:36:19Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : ""
        }
      },
      "identifier" : "A721B62C",
      "triggerDate" : "2025-03-15T13:36:19Z",
      "features" : [
        {
          "ttl" : "2025-03-16T13:36:19Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-03-16T13:36:19Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-03-16T13:36:19Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-03-16T13:36:19Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        }
      ]
    },
    {
      "completionDate" : "2025-03-16T13:50:42Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : ""
        }
      },
      "identifier" : "75F3242D",
      "triggerDate" : "2025-03-16T13:50:42Z",
      "features" : [
        {
          "ttl" : "2025-03-17T13:50:42Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-03-17T13:50:42Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-03-17T13:50:42Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-03-17T13:50:42Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        }
      ]
    },
    {
      "completionDate" : "2025-03-18T16:17:23Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : ""
        }
      },
      "identifier" : "4FAF99AF",
      "triggerDate" : "2025-03-18T16:17:20Z",
      "features" : [
        {
          "ttl" : "2025-03-19T16:17:23Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-03-19T16:17:23Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-03-19T16:17:23Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-03-19T16:17:23Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        }
      ]
    },
    {
      "completionDate" : "2025-03-19T18:37:32Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : ""
        }
      },
      "identifier" : "0D45E1A3",
      "triggerDate" : "2025-03-19T18:37:31Z",
      "features" : [
        {
          "ttl" : "2025-03-20T18:37:32Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-03-20T18:37:32Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-03-20T18:37:32Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-03-20T18:37:32Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        }
      ]
    },
    {
      "completionDate" : "2025-03-20T19:49:14Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : ""
        }
      },
      "identifier" : "A5BB3C3A",
      "triggerDate" : "2025-03-20T19:49:13Z",
      "features" : [
        {
          "ttl" : "2025-03-21T19:49:14Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-03-21T19:49:14Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-03-21T19:49:14Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-03-21T19:49:14Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        }
      ]
    },
    {
      "completionDate" : "2025-03-21T22:05:49Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : ""
        }
      },
      "identifier" : "3DEE420B",
      "triggerDate" : "2025-03-21T22:05:48Z",
      "features" : [
        {
          "ttl" : "2025-03-22T22:05:49Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-03-22T22:05:49Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-03-22T22:05:49Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-03-22T22:05:49Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        }
      ]
    },
    {
      "completionDate" : "2025-04-07T14:55:46Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : ""
        }
      },
      "identifier" : "C348F70D",
      "triggerDate" : "2025-04-07T14:55:46Z",
      "features" : [
        {
          "ttl" : "2025-04-08T14:55:46Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-04-08T14:55:46Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-04-08T14:55:46Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-04-08T14:55:46Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        }
      ]
    },
    {
      "completionDate" : "2025-04-07T17:49:35Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : "cloud.llm, llm"
        }
      },
      "identifier" : "6AE21ABF",
      "triggerDate" : "2025-04-07T17:49:32Z",
      "features" : [
        {
          "ttl" : "2025-04-08T17:49:35Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-04-08T17:49:35Z",
          "canUse" : true,
          "featureID" : "ai.keyboard.emoji-generation"
        },
        {
          "ttl" : "2025-04-08T17:49:35Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-04-08T17:49:35Z",
          "canUse" : true,
          "featureID" : "ai.paperkit.image-generation"
        },
        {
          "ttl" : "2025-04-08T17:49:35Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-04-08T17:49:35Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-04-08T17:49:35Z",
          "canUse" : true,
          "featureID" : "ai.apps.image-playground"
        },
        {
          "ttl" : "2025-04-08T17:49:35Z",
          "canUse" : true,
          "featureID" : "cloud.llm"
        }
      ]
    },
    {
      "completionDate" : "2025-04-07T20:24:23Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : "cloud.llm, llm"
        }
      },
      "identifier" : "73825E45",
      "triggerDate" : "2025-04-07T20:24:20Z",
      "features" : [
        {
          "ttl" : "2025-04-08T20:24:23Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-04-08T20:24:23Z",
          "canUse" : true,
          "featureID" : "cloud.llm"
        },
        {
          "ttl" : "2025-04-08T20:24:23Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-04-08T20:24:23Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-04-08T20:24:23Z",
          "canUse" : true,
          "featureID" : "ai.paperkit.image-generation"
        },
        {
          "ttl" : "2025-04-08T20:24:23Z",
          "canUse" : true,
          "featureID" : "ai.keyboard.emoji-generation"
        },
        {
          "ttl" : "2025-04-08T20:24:23Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-04-08T20:24:23Z",
          "canUse" : true,
          "featureID" : "ai.apps.image-playground"
        }
      ]
    },
    {
      "completionDate" : "2025-04-07T20:24:36Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : "cloud.llm, llm"
        }
      },
      "identifier" : "F5631523",
      "triggerDate" : "2025-04-07T20:24:35Z",
      "features" : [
        {
          "ttl" : "2025-04-08T20:24:36Z",
          "canUse" : true,
          "featureID" : "ai.keyboard.emoji-generation"
        },
        {
          "ttl" : "2025-04-08T20:24:36Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-04-08T20:24:36Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-04-08T20:24:36Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-04-08T20:24:36Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-04-08T20:24:36Z",
          "canUse" : true,
          "featureID" : "ai.apps.image-playground"
        },
        {
          "ttl" : "2025-04-08T20:24:36Z",
          "canUse" : true,
          "featureID" : "ai.paperkit.image-generation"
        },
        {
          "ttl" : "2025-04-08T20:24:36Z",
          "canUse" : true,
          "featureID" : "cloud.llm"
        }
      ]
    },
    {
      "completionDate" : "2025-04-07T20:24:39Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : "cloud.llm, llm"
        }
      },
      "identifier" : "9AD678A7",
      "triggerDate" : "2025-04-07T20:24:38Z",
      "features" : [
        {
          "ttl" : "2025-04-08T20:24:39Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-04-08T20:24:39Z",
          "canUse" : true,
          "featureID" : "cloud.llm"
        },
        {
          "ttl" : "2025-04-08T20:24:39Z",
          "canUse" : true,
          "featureID" : "ai.paperkit.image-generation"
        },
        {
          "ttl" : "2025-04-08T20:24:39Z",
          "canUse" : true,
          "featureID" : "ai.apps.image-playground"
        },
        {
          "ttl" : "2025-04-08T20:24:39Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-04-08T20:24:39Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-04-08T20:24:39Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-04-08T20:24:39Z",
          "canUse" : true,
          "featureID" : "ai.keyboard.emoji-generation"
        }
      ]
    },
    {
      "completionDate" : "2025-04-07T20:38:52Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : "cloud.llm, llm"
        }
      },
      "identifier" : "5699122E",
      "triggerDate" : "2025-04-07T20:38:52Z",
      "features" : [
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "ai.paperkit.image-generation"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "cloud.llm"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "ai.keyboard.emoji-generation"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "ai.apps.image-playground"
        }
      ]
    },
    {
      "completionDate" : "2025-04-07T20:38:52Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : "cloud.llm, llm"
        }
      },
      "identifier" : "7795E50D",
      "triggerDate" : "2025-04-07T20:38:52Z",
      "features" : [
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "cloud.llm"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "ai.paperkit.image-generation"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "ai.apps.image-playground"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "ai.keyboard.emoji-generation"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-04-08T20:38:52Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        }
      ]
    },
    {
      "completionDate" : "2025-04-07T20:44:01Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : "cloud.llm, llm"
        }
      },
      "identifier" : "7FBCF1E6",
      "triggerDate" : "2025-04-07T20:44:01Z",
      "features" : [
        {
          "ttl" : "2025-04-08T20:44:01Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-04-08T20:44:01Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-04-08T20:44:01Z",
          "canUse" : true,
          "featureID" : "ai.keyboard.emoji-generation"
        },
        {
          "ttl" : "2025-04-08T20:44:01Z",
          "canUse" : true,
          "featureID" : "ai.apps.image-playground"
        },
        {
          "ttl" : "2025-04-08T20:44:01Z",
          "canUse" : true,
          "featureID" : "cloud.llm"
        },
        {
          "ttl" : "2025-04-08T20:44:01Z",
          "canUse" : true,
          "featureID" : "ai.paperkit.image-generation"
        },
        {
          "ttl" : "2025-04-08T20:44:01Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-04-08T20:44:01Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        }
      ]
    },
    {
      "completionDate" : "2025-04-07T20:44:02Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation",
          "hardwareCapabilityHeader" : "cloud.llm, llm"
        }
      },
      "identifier" : "E5A4EE23",
      "triggerDate" : "2025-04-07T20:44:02Z",
      "features" : [
        {
          "ttl" : "2025-04-08T20:44:02Z",
          "canUse" : true,
          "featureID" : "ai.paperkit.image-generation"
        },
        {
          "ttl" : "2025-04-08T20:44:02Z",
          "canUse" : true,
          "featureID" : "mail.custom-domains.transfer"
        },
        {
          "ttl" : "2025-04-08T20:44:02Z",
          "canUse" : true,
          "featureID" : "networking.privacy.attestation"
        },
        {
          "ttl" : "2025-04-08T20:44:02Z",
          "canUse" : true,
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "ttl" : "2025-04-08T20:44:02Z",
          "canUse" : true,
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "ttl" : "2025-04-08T20:44:02Z",
          "canUse" : true,
          "featureID" : "cloud.llm"
        },
        {
          "ttl" : "2025-04-08T20:44:02Z",
          "canUse" : true,
          "featureID" : "ai.apps.image-playground"
        },
        {
          "ttl" : "2025-04-08T20:44:02Z",
          "canUse" : true,
          "featureID" : "ai.keyboard.emoji-generation"
        }
      ]
    }
  ]
}   ' 1 ; J#ï%&-             	              |¦